DATABASE_URL="postgresql://postgres:STRONG_PASSWORD@db:5432/avukat_zuhat"
NEXTAUTH_SECRET="generate-a-random-secret-at-least-32-chars"
NEXTAUTH_URL="https://yourdomain.com"
UPLOAD_DIR="./public/uploads"
